@media screen and (min-width: 768px) {
  #app {
    grid-template: 8.063rem 1fr 1fr 1fr / 1fr;
  }

  .header-group.l-container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .header {
    padding-top: 1.5rem;

    &-group {
      border-radius: var(--border-radius-s);
    }

    &-logo {
      width: 2rem;
      height: 1.6rem;
    }

    &-nav-item {
      width: 1.25rem;
      height: 1.25rem;
    }

    &-avatar {
      width: 32px;
    }
  }
}

@media screen and (min-width: 1024px) {
  #app {
    grid-template: 8.063rem 1fr 1fr 1fr / 10.25rem 1fr;
  }

  .header-group.l-container {
    margin-left: unset;
    margin-right: unset;
  }

  .header {
    grid-row: 1 / span 4;
    padding: 2rem;

    &-logo {
      margin-bottom: 4.688rem;
    }

    &-group,
    &-nav-list {
      flex-direction: column;
    }

    &-group {
      width: 96px;
      border-radius: var(--border-radius-m);
      padding: 2rem 0;
      justify-content: unset;
    }

    &-avatar {
      margin-top: auto;
      width: 40px;
    }
  }
}
