:root {
  --header-height: 3.5rem; // T: 4.5rem || D: is vertical

  --color-primary-red: hsl(0, 97%, 63%);
  --color-primary-semi-dark-blue: hsl(223, 36%, 14%);
  --color-primary-dark-blue: hsl(223, 30%, 9%);

  --color-neutral-greyish-blue: hsl(223, 23%, 46%);
  --color-neutral-white: hsl(0, 0%, 100%);

  --font-family-sans: 'Outfit', sans-serif;

  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.813rem;
  --font-size-s: 0.938rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 2rem;

  --font-size-trending-media-title: var(--font-size-s);

  --font-weight-light: 300;
  --font-weight-medium: 500;

  --space-nav-links-gap: 1.5rem; // T: 2rem || D: 2.5rem
  --space-content-gap-1: 1rem;
  --space-content-gap-2: 1.5rem;
  --space-content-grid-gap: 1rem; // T: 1.875rem || D: 2.5rem
  --space-media-info-gap: 0.5rem;

  --border-radius-xxs: 0.375rem;
  --border-radius-xs: 0.5rem;
  --border-radius-s: 0.625rem;
  --border-radius-m: 1.25rem;
  --border-radius-l: 1.781rem;
  --border-radius-round: 50%;
}

@media screen and (min-width: 768px) {
  :root {
    --header-height: 4.5rem;

    --font-size-xxs: 0.938rem;
    --font-size-s: 1.125rem;
    --font-size-m: 1.5rem;
    --font-size-xl: 2rem;

    --font-size-trending-media-title: var(--font-size-m);

    --space-nav-links-gap: 2rem;
    --space-content-gap-1: 1.5rem;
    --space-content-grid-gap: 1.875rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --header-height: Min(calc(100vh - 4rem), 960px);

    --font-size-xxs: 0.875rem;

    --space-nav-links-gap: 2.5rem;
    --space-content-grid-gap: 2.5rem;
  }
}
